/BigClass.class
/SmallInheritedClass.class
/BigInterface.class
/SmallImplementsClass.class
/SmallImplements.class
/SmallInherited.class
/BigAbstract.class
/SimpleGeometricObjectType1.class
/CircleFromSimpleGeometricObjectType1.class
/RectangleFromSimpleGeometricObjectType1.class
/TestObjects$TestCircleRectangle.class
/TestObjects.class
/A.class
/B.class
/Circle.class
/Cee.class
/Bee.class
/Test.class
/Tee.class
/OriginalObjectClassLesson.class
/Tee2.class
/Person.class
/Student.class
/InstanceOfTest.class
