/BigClass.class
/SmallInheritedClass.class
/BigInterface.class
/SmallImplementsClass.class
/SmallImplements.class
/SmallInherited.class
/BigAbstract.class
/SimpleGeometricObjectType1.class
/CircleFromSimpleGeometricObjectType1.class
/RectangleFromSimpleGeometricObjectType1.class
/TestObjects$TestCircleRectangle.class
/TestObjects.class
/A.class
/B.class
/Circle.class
/Cee.class
/Bee.class
/Test.class
/Tee.class
/OriginalObjectClassLesson.class
/Tee2.class
/Person.class
/Student.class
/InstanceOfTest.class
/Excercise.class
/Apple.class
/Fruit.class
/Excercise$replace_with_above.class
/Fruit$GoldenDelicious.class
/Fruit$McIntosh.class
/Fruit$Orange.class
/Fruit$Test.class
/Test$replace_with_above.class
/Fruit$Exercise.class
/Exercise.class
/GoldenDelicious.class
/McIntosh.class
/Orange.class
/Excercise2.class
/Excercise$Apple.class
/Excercise$Fruit.class
/Apple0.class
/Fruit0.class
/Excercise3.class
